@import url('https//fonts.googleis.com/css?family=PT+Sans');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body
{
    display: flex;
    justify-content: right;
    padding-right: 5%;
    align-items: center;
    min-height: 100vh;
}
/* This can be used to adjust the size of the poster*/
.card
{
    position: relative;
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.poster img
{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}
.birthday-effects{
 position: fixed;
 right: 50%;
}
h